.eye-icon{
    color: white;
}
.input-create{
    background-color: transparent;
    color: white;
    
}
.input-create:focus{
    background-color: transparent;
    color: white;
}
.input-create::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.7; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
  }