.container .createpassword {
  height: 80vh;
}
.createpassword {
  margin-top: 10vh;
}
.eye-icon {
  color: white;
}
.input-create {
  background-color: transparent;
  border-radius: 30px;
  color: white;
}
.input-create:focus {
  background-color: transparent;
  color: white;
}
.input-create::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}
.input-create::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}
.input-create::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
.save-btn {
  margin-top: 20px;
  background-color: #20a86f;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}
.save-btn:hover {
  background-color: #20a86f;
  color: white;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}
.back-btn {
  margin-top: 20px;
  background-color: #2897a8;
  padding: 10px 50px;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}
.back-btn:hover {
  background-color: #2897a8;
  color: white;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}
