.add-button-style {
  background-color: #20a86f;
  padding: 10px 89px;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.add-button-style:focus {
  outline: none;
}
.add-button-style:hover {
  font-weight: bold;
}
.bg-dashboard {
  background-color: #27bab3;
}
