.empty-dashboard-logo-size {
  max-width: 80vw;
  max-height: 35vh;
}
.bg-empty-dashboard {
  height: 90vh;
  background-image: linear-gradient(#27bab2, #266499);
}
.btn-start-empty-dashboard {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 60px;
  border-radius: 40px;
  cursor: pointer;
}
.btn-start-empty-dashboard:hover {
  background-color: #266499;
}
.btn-start-empty-dashboard:focus {
  outline: none;
}
.btn-logout-empty-dashboard {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 60px;
  border-radius: 25px;
}
.btn-logout-empty-dashboard:hover {
  background-color: rgba(40, 50, 105, 0.226);
}
