#root,html{
   background-color:#23849c;
}

.fb-btn{
    padding:6px 6px;
    border-radius: 15px;
    border:transparent;
    background-color: transparent;
}

.fb-btn:hover{
    background-color: rgb(62, 96, 190);
}

.google-btn{
    padding:10px 15px;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
}
.google-btn:hover{
    background-color: rgba(235, 104, 29, 0.596);
}

.btn-img-size{
    height: 30px;
}