#root,html{
    background-color: rgb(52, 152, 219);
}

.fb-btn{
    padding:10px 10px;
    background-color: rgb(52, 52, 179);
    border-radius: 15px;
    border: transparent;
    border-color: transparent;
}

.fb-btn:hover{
    background-color: rgb(62, 96, 190);
}

.google-btn{
    padding:10px 15px;
    background-color: transparent;
    border-radius: 15px;
    border: transparent;
    border-color: rgb(173, 41, 41)(172, 124, 124);
}
.google-btn:hover{
    background-color: rgba(235, 104, 29, 0.596);
}