.bg-login{
    background-image: linear-gradient(#27bab2, #296599);
}
.size{
    height: 100vh;
}
.logo-size{
    height: 140px;
    margin-bottom: 5px;
}
.font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}