#root,
html {
  background-image: linear-gradient(#27bab2, #296599);
}

.fb-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}
.fb-btn:focus {
  outline: none;
}

.fb-btn:hover {
  background-color: rgb(62, 96, 190);
}

.google-btn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}
.google-btn:focus {
  outline: none;
}
.google-btn:hover {
  background-color: rgb(234, 67, 53);
}

.btn-img-size {
  height: 30px;
}
