.config-image{
    height: 45px;
    width: 45px;
}
.font-header{
    font-family: 'Squada One', cursive;
    color: white;
}
.background{
    background-color: #4397ac80;
}
.profile-pic{
    height: 50px;
    width: 50px;
    border-radius: 60px;
}
.dropdown-config{
    background-color: transparent;
    border: transparent;
    height: 50px;
}
.logout-link{
    text-decoration: none;
    color: black;
}
.logout-link:hover{
    text-decoration: none;
    color: black;
}
.dropdown-toggle::after {
    display: none;
}