.config-image {
  height: 40px;
}
.font-header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 18px;
  color: white;
}
.background {
  background-color: #26aab2;
  height: 10vh;
}
.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 60px;
}
.dropdown-config {
  background-color: transparent;
  border: transparent;
  height: 50px;
  cursor: pointer;
}
.dropdown-config:focus {
  outline: none;
}

.logout-link {
  text-decoration: none;
  color: black;
}
.logout-link:hover {
  text-decoration: none;
  color: #268499;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: rgba(36, 159, 173, 0.336);
  margin-right: 10px;
}

.dropdown-item:focus {
  outline: none;
}
.link-logo:hover {
  text-decoration: none;
}
.add-button-style {
  background-color: #20a86f;
  border: none;
  border-radius: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.add-button-style:focus {
  outline: none;
}
.add-button-style:hover {
  font-weight: bold;
}
@media (min-width: 770px) {
  .add-btn-config {
    margin-right: 380px;
  }
}
@media (min-width: 1000px) {
  .add-btn-config {
    margin-right: 630px;
  }
}
@media (min-width: 1439px) {
  .add-btn-config {
    margin-right: 800px;
  }
}
@media (max-width: 770px) {
  .add-btn-config {
    z-index: 1000;
    position: fixed;
    top: 85%;
    left: 85%;
  }
}
