.search-bar {
	background-color: rgba(46, 122, 90, 0.144);
	margin: 10px auto;
	border: none;
	border-radius: 10px;
	width: 93%;
	height: 30px;
}
.search-bar::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: white;
	opacity: 0.7; /* Firefox */
	text-align: center;
}
.search-bar::-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: white;
}

.search-bar::-ms-input-placeholder {
	/* Microsoft Edge */
	color: white;
}
.search-bar:focus {
	background-color: rgba(46, 122, 90, 0.144);
	margin: 10px auto;
	border: 1px solid white;
	border-radius: 10px;
	width: 93%;
	height: 30px;
}
.search-bar-container {
	background-color: rgba(35, 217, 223, 0.418);
	border: rgba(32, 180, 143, 0.856) solid 1px;
	border-radius: 15px;
	padding: 0 10px;
}
