.input-fields {
  background-color: transparent;
  color: #269ead;
}
.input-fields:focus {
  outline: none;
}
.eye-container-style {
  background-color: transparent;
  border: none;
}
.eye-sub-container-style {
  background-color: transparent;
  border: none;
}
.eye-style {
  color: #269ead;
}
.copy-span {
  margin-top: 10px;
  cursor: pointer;
}

.copy-message {
  font-size: 68%;
}
.text-label-card {
  color: #269ead;
  font-size: 14px;
}
.text-bold {
  font-weight: bold;
}
.text-title {
  font-size: 18px;
}
