.input-fields{
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.eye-container-style{
    background-color: transparent;
    border: none;
}
.eye-sub-container-style{
    background-color: transparent;
    border: none;
}
.eye-style{
    color: white;
}