.input-fields {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.eye-container-style {
  background-color: transparent;
  border: none;
}
.eye-sub-container-style {
  background-color: transparent;
  border: none;
}
.eye-style {
  color: white;
}
.copy-span {
  margin-top: 10px;
  cursor: pointer;
}

.copy-message {
  font-size: 68%;
}
.text-label-card {
  color: white;
  font-size: 14px;
}
.text-bold {
  font-weight: bold;
}
