.search-bar {
  background-color: white;
  margin: 10px auto;
  border: none;
  border-radius: 10px;
  width: 93%;
  height: 30px;
  color: #269ead;
  text-align: center;
}
.search-bar:focus {
  outline: none;
}
.search-bar::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #269ead;
  opacity: 0.7; /* Firefox */
  text-align: center;
}
.search-bar::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #269ead;
}

.search-bar::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #269ead;
}
.search-bar:focus {
  background-color: rgb(255, 255, 255);
  margin: 10px auto;
  border: 1px solid white;
  border-radius: 10px;
  width: 93%;
  height: 30px;
}
.search-bar-container {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 30px;
  padding: 0 10px;
  margin: 0 10px;
}
