.card-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.card-btn:focus {
  outline: none;
}
.card-btn:active {
  background-color: transparent;
  border: none;
}
.card-btn:hover {
  background-color: rgba(221, 202, 202, 0.507);
  border: none;
  border-radius: 8px;
}
.card-icon {
  color: white;
}
.form-style {
  border: rgb(255, 255, 255) solid 1px;
  border-radius: 30px;
  background-color: transparent;
}
.Toastify__toast--info {
  background: rgb(32, 80, 76) !important;
}
.Toastify__toast--error {
  background: rgb(110, 14, 14) !important;
}
.border-top-title {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  height: 60px;
}
.SinglePasswordCardSize {
  width: 60px;
}
.bg-card-title {
  background-color: #286d9b;
}
